<h1 class="page-header">Eventos</h1>
<% if @event.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li> <%= message %></li>
          <% end %>   
          </ul>
                  
         </div>
   <% end %>
  

<div class="panel panel-default">
    <div class="panel-heading">
        <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="col-lg-12">
        <%= form_for ([:backoffice, @event]) do |f| %>
            <div class="form-group col-lg-6">
                <label>Nome evento</label>
                <%= f.text_field :name, class:"form-control", placeholder:"Ex: Evento" %>
                <br>
                <label>Imagem do evento</label>
                 <%= f.file_field :avatar %>
            </div>
            <div class="form-group col-lg-6">
                <label>Descrição</label>
                <%= f.text_area :description, class:"form-control", rows:"6", placeholder:"Ex: Evento" %>
            </div>
            <div class="form-group col-lg-6">
                <label>Data do evento</label>
                <%= f.datetime_select :date_event, class:"form-control "%>
            </div>
            
            <button type="submit"  class="btn btn-success">Salvar</button> 
        <% end %>
       
      </div>  
    </div>
    <!-- /.panel-body -->
</div>
