<h1 class="page-header">Administradores</h1>
 
  <div class="panel panel-default">
        <div class="panel-heading">
            Listando Administradores
            <%= link_to new_backoffice_admin_path, class:"btn-success btn-circle pull-right", style:"margin-top: -5px" do %>
                <i class="fa fa-plus"></i>
            <% end %>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Tipo de Acesso</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <% @admins.each do |admin| %>
                        <tr>
                            <td><%= admin.id %></td>
                            <td><%= admin.name %></td>
                            <td><%= admin.email %></td>
                            <td><%= admin.role_i18n %></td>
                            <td style="width: 150px">
                                <%= link_to edit_backoffice_admin_path(admin.id), class:"btn btn-primary btn-circle" do %>
                                    <i class="fa fa-times"></i>
                                <% end %>
                                <% if current_admin.id != admin.id %>
                                     <%= link_to backoffice_admin_path(admin), method: :delete,
                                         class:"btn btn-danger btn-circle", data: {confirm:
                                            t('messages.confirm_with', item: admin.name)}  do %>     
                                        <i class="fa fa-minus"> </i>
                                     <% end %> 
                                <% end %> 
                            </td> 
                          </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
   </div>
 