
<h1 class="page-header">Cargos</h1>
 
  <div class="panel panel-default">
        <div class="panel-heading">
            Listando Cargos
            <%= link_to new_backoffice_position_path, class:"btn-success btn-circle pull-right", style:"margin-top: -5px" do %>
                <i class="fa fa-plus"></i>
            <% end %>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Descrição</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <% @positions.each do |position| %>
                        <tr>
                            <td><%= position.id %></td>
                            <td><%= position.description %></td>
                            <td style="width: 150px">
                                <%= link_to edit_backoffice_position_path(position.id), class:"btn btn-primary btn-circle" do %>
                                    <i class="fa fa-minus"></i>
                                <% end %>
                           
                                 <button type="button" disabled="disabled" class="btn btn-danger btn-circle">      <i class="fa fa-times"></i> </button>  
                            </td> 
                          </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
   </div>
 