<!-- Clients Aside -->
<aside class="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <!-- <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt=""> -->
          <%= image_tag('logos/envato.jpg', class: "img-centered img-responsive") %>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <!-- <img src="img/logos/designmodo.1jpg" class="img-responsive img-centered" alt=""> -->
          <%= image_tag('logos/designmodo.jpg', class: "img-centered img-responsive") %>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <!-- <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt=""> -->
          <%= image_tag('logos/themeforest.jpg', class: "img-centered img-responsive") %>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
          <%= image_tag('logos/creative-market.jpg', class: "img-centered img-responsive") %>
        </a>
      </div>
    </div>
  </div>
</aside>