<h1 class="page-header">Administradores</h1>
<% if @admin.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul>
          <% @admin.errors.full_messages.each do |message| %>
            <li> <%= message %></li>
          <% end %>   
          </ul>
                  
         </div>
   <% end %>
  

<div class="panel panel-default">
    <div class="panel-heading">
        <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="col-lg-6">
        <%= form_for ([:backoffice, @admin]) do |f| %>
            <div class="form-group">
                <label>Nome do administrador</label>
                <%= f.text_field :name, class:"form-control", placeholder:"Ex: Nome" %>
            </div>      
       
            <div class="form-group">
                <label>E-mail administrador</label>
                <%= f.text_field :email, class:"form-control", placeholder:"Ex: E-mail" %>
            </div>

                       
             <div class="form-group ">
                    <%= f.label :password %>
                    <%= f.password_field :password, class:"form-control", placeholder:"Senha" %>

             </div>
             
             <div class="form-group ">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirmação da senha" %>
             </div>
            
             <button type="submit"  class="btn btn-success">Salvar</button> 
             
        <% end %>
       
      </div>  
    </div>
    <!-- /.panel-body -->
</div>
