/*
 *= require font-awesome
 *= require bootstrap.min
*/

header {
  /* background-image: url('header-bg.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-attachment: scroll; */
  /* background-position: center center; */
  background: black !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}

.btn-xl-red {
  color: white;
  background-color: #841417;
  border-color: #840314;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}


.btn-xl-red:hover {
  color: white;
  background-color: #B02124;
  border-color: #8A2230;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

@media (min-width: 768px){
  .navbar-custom.affix {
    background-color: #016100 !important;
    padding: 10px 0;
  }
}

.navbar-custom .navbar-brand {
  color: #E1D3D0 !important;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}